{% extends "base.html" %}
{% load i18n %}

{% block header %}
    <h1 class="asset-logo">To Be Musician</h1>
{% endblock %}

{% block main %}
<div class="row">
    <form action="{% url 'search' %}" method="get" class="search-form">
        <p class="search-content">
            <label>{% trans "Keyword" %}:</label>
            <input type="search" name="q" placeholder="{% trans "Song, artist, album..." %}" class="input-find">
        </p>

        <input class="button" type="submit" value="search">
    </form>
</div>
{% endblock %}
