{% extends "base.html" %}

{% load i18n %}
{% block main %}

<h1>So... you want to be a musician, heh?</h1>

{% block user %}
{% if user.is_authenticated %}
    <p><a href="{% url 'logout' %}">Logout</a>, dude!</p>
{% else %}
    <p>Hey... a <a href="/login/facebook/">Facebook login button</a>!</p>
{% endif %}
{% endblock user %}

<form action="{% url 'search' %}" method="get">
    <p>
        <label>{% trans "Keyword" %}:
            <input type="search" name="q" placeholder="{% trans "Song, artist, album..." %}"></label>
    </p>

    <input type="submit">
</form>
{% endblock %}