{% extends "base.html" %}

{% load i18n %}
{% load tinysong %}

{% block site_title %}{% blocktrans %}Results for "{{ q }}"{% endblocktrans %}{% endblock %}

{% block class_body %}class="internas"{% endblock %}

{% block main %}
    <div class="row">
        {% if q %}
            <p>{% blocktrans %}Results for <strong>"{{ q }}"</strong>!{% endblocktrans %}</p>
        {% else %}
            <p>{% trans "You need to do a search to see anything on this page!" %}</p>
        {% endif %}

        {% for song in songs %}
            <div>
                <h3><a href="{{song.get_absolute_url}}#{{ song.api_id }}">{{ song.name }}</a></h3>
                <small>{% blocktrans with artist=song.artist.name album=song.album.name %}By {{ artist }}, from {{ album }}.{% endblocktrans %}</small>
                <p>{{song.api_id|flash_player}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
