{% extends "base.html" %}

{% load i18n %}

{% block class_body %}class="internas"{% endblock %}

{% block main %}
    <div class="row">
        <section class="four columns songs will-learn">
            <h4 class="songs-column-title">{% blocktrans %}Will learn{% endblocktrans %}</h4>
            {% for song in will_learn %}
                <a href="{{ song.song.get_absolute_url }}" class="song-item" >{{ song.song.name }} ({{ song.song.artist }})</a>
            {% endfor %}
        </section>

        <section class="four columns songs learning">
            <h4 class="songs-column-title">{% blocktrans %}Learning{% endblocktrans %}</h4>
            {% for song in learning %}
                <a href="{{ song.song.get_absolute_url }}" class="song-item" >{{song.song.name}} ({{ song.song.artist }})</a>
            {% endfor %}
        </section>

        <section class="four columns songs learned">
            <h4 class="songs-column-title">{% blocktrans %}Learned{% endblocktrans %}</h4>
             {% for song in  has_learned %}
                <a href="{{ song.song.get_absolute_url }}" class="song-item" >{{ song.song.name }} ({{ song.song.artist }})</a>
            {% endfor %}
        </section>
    </div>

{% endblock %}
