{% load i18n %}

<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
<title>{% block site_title_wrap %}{% block site_title %}{% trans "Learn and teach some awesome songs!" %}{% endblock %} | To be musician{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% endblock css %}

    {% block top_js %}{% endblock %}
</head>
<body {% block class_body %}{% endblock %}>

    <div class="topo">
        <div class="row">
            {% block user %}
            <div class="user">
                {% if user.is_authenticated %}
                <a href="{% url 'musician_page' user_name=user.username %}">
                    {% if user.first_name  or user.last_name %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </a>
                <a href="{% url 'logout' %}">{% trans "logout" %}</a>
                {% else %}
                    <a href="{% url 'social:begin' backend="facebook" %}">{% trans "Sign up" %}</a>
                {% endif %}
            </div>
            {% endblock user %}
        </div>
    </div>

    {% block header %}
        <header>
            <div class="row">
                <h1 class="asset-logo-internas"><a href="{% url 'home' %}">To Be Musician</a></h1>
            </div>
        </header>
    {% endblock %}

    {% block main %}
    {% endblock main %}

    {% block bottom_js %}
    {% endblock bottom_js%}
</body>
</html>
