{% extends "base.html" %}

{% load i18n %}
{% load tinysong %}
{% load musician_extras %}

{% block class_body %}class="internas"{% endblock %}

{% block main %}
    <header>
        <div class="row">
            <h1 class="asset-logo-internas">To Be Musician</h1>
        </div>
    </header>

    <div class="row">
        <h2>{{ object.name }}</h2>

        {% if request.user.is_authenticated %}
        <p>{% learn_button user object %}</p>
        {% endif %}

        <p>{% blocktrans with artist=object.artist.name %}Performed by {{ artist }}.{% endblocktrans %}</p>
        <p>{% blocktrans with album=object.album.name %}From {{ album }}.{% endblocktrans %}</p>
        <p>{{object.api_id|flash_player}}</p>

        <p><a
            href="{% url 'songs_interpretation_add' artist_slug=object.artist.slug song_slug=object.slug %}">{% trans "Send your interpretation of this song" %}</a>
        </p>
    </div>
{% endblock %}
