{% extends "base.html" %}

{% load i18n %}
{% load tinysong %}
{% load musician_extras %}

{% block site_title %}{{ object.name }} - {{ object.artist }}{% endblock %}

{% block class_body %}class="internas"{% endblock %}

{% block main %}
    <div class="row">
        <div class="song-detail">
            <h2>{{ object.name }}</h2>

            <p>{% blocktrans with artist=object.artist.name %}Performed by <strong>{{ artist }}</strong>{% endblocktrans %},
            {% blocktrans with album=object.album.name %}from <strong>{{ album }}</strong>.{% endblocktrans %}</p>

            <p>{{object.api_id|flash_player}}</p>

            {% if request.user.is_authenticated %}
                <p>
                    {% learn_button user object %}
                    <a class="button"
                        href="{% url 'songs_interpretation_add' artist_slug=object.artist.slug song_slug=object.slug %}">{% trans "Send your interpretation of this song" %}</a>
                </p>
            {% endif %}

        </div>

        {% with last_interpretations=object.last_interpretations %}
            {% if last_interpretations %}
            <h3>{% trans "Interpretations" %}</h3>

            <ul class="interpretations">
                {% for interpretation in last_interpretations %}
                <li class="interpretation-item">
                    <a href="{{ interpretation.get_absolute_url }}">
                        {% blocktrans with user=interpretation.user.username created_at=interpretation.created_at|timesince %}
                        By <strong>{{ user }}</strong> at {{ created_at }}{% endblocktrans %}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
